# Datasets
data/
datasets/

# Results and Logs
results/
logs/
lightning_logs/
outputs/
checkpoints/
*.ckpt
wandb/

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
